Sep 12 18:59:31 kali systemd[1]: Dependency failed for docker.service - Docker Application Container Engine.
Sep 12 18:59:31 kali systemd[1]: docker.service: Job docker.service/start failed with result 'dependency'.
Sep 12 19:01:49 kali systemd[1]: Dependency failed for docker.service - Docker Application Container Engine.
Sep 12 19:01:49 kali systemd[1]: docker.service: Job docker.service/start failed with result 'dependency'.
Sep 12 19:02:18 kali systemd[1]: Dependency failed for docker.service - Docker Application Container Engine.
Sep 12 19:02:18 kali systemd[1]: docker.service: Job docker.service/start failed with result 'dependency'.
-- Boot deaa94c2656a4da88ca8db28157d98ec --
Sep 12 19:03:51 kali systemd[1]: Dependency failed for docker.service - Docker Application Container Engine.
Sep 12 19:03:51 kali systemd[1]: docker.service: Job docker.service/start failed with result 'dependency'.
Sep 12 19:04:37 kali systemd[1]: Dependency failed for docker.service - Docker Application Container Engine.
Sep 12 19:04:37 kali systemd[1]: docker.service: Job docker.service/start failed with result 'dependency'.
Sep 12 19:06:13 kali systemd[1]: Dependency failed for docker.service - Docker Application Container Engine.
Sep 12 19:06:13 kali systemd[1]: docker.service: Job docker.service/start failed with result 'dependency'.
Sep 12 19:09:21 kali systemd[1]: Dependency failed for docker.service - Docker Application Container Engine.
Sep 12 19:09:21 kali systemd[1]: docker.service: Job docker.service/start failed with result 'dependency'.
Sep 12 19:11:15 kali systemd[1]: Dependency failed for docker.service - Docker Application Container Engine.
Sep 12 19:11:15 kali systemd[1]: docker.service: Job docker.service/start failed with result 'dependency'.
Sep 12 19:12:09 kali systemd[1]: Dependency failed for docker.service - Docker Application Container Engine.
Sep 12 19:12:09 kali systemd[1]: docker.service: Job docker.service/start failed with result 'dependency'.
Sep 12 19:14:16 kali systemd[1]: Starting docker.service - Docker Application Container Engine...
Sep 12 19:14:16 kali dockerd[12537]: time="2024-09-12T19:14:16.862581795+05:30" level=info msg="Starting up"
Sep 12 19:14:16 kali dockerd[12537]: time="2024-09-12T19:14:16.899389081+05:30" level=info msg="[graphdriver] trying configured driver: overlay2"
Sep 12 19:14:16 kali dockerd[12537]: time="2024-09-12T19:14:16.922437924+05:30" level=info msg="Loading containers: start."
Sep 12 19:14:17 kali dockerd[12537]: time="2024-09-12T19:14:17.315315390+05:30" level=info msg="Default bridge (docker0) is assigned with an IP address 172.17.0.0/16. Daemon option --bip can be used to set a preferred IP address"
Sep 12 19:14:17 kali dockerd[12537]: time="2024-09-12T19:14:17.403552559+05:30" level=info msg="Loading containers: done."
Sep 12 19:14:17 kali dockerd[12537]: time="2024-09-12T19:14:17.421631086+05:30" level=info msg="Docker daemon" commit=8b539b8 containerd-snapshotter=false storage-driver=overlay2 version=27.2.1
Sep 12 19:14:17 kali dockerd[12537]: time="2024-09-12T19:14:17.421706378+05:30" level=info msg="Daemon has completed initialization"
Sep 12 19:14:17 kali dockerd[12537]: time="2024-09-12T19:14:17.491336815+05:30" level=info msg="API listen on /run/docker.sock"
Sep 12 19:14:17 kali systemd[1]: Started docker.service - Docker Application Container Engine.
Sep 12 19:14:38 kali dockerd[12537]: time="2024-09-12T19:14:38.337087672+05:30" level=warning msg="Error getting v2 registry: Get \"https://registry-1.docker.io/v2/\": tls: failed to verify certificate: x509: certificate is valid for prod.suntecktts.com, *.prod.suntecktts.com, *.suntecktts.com, suntecktts.com, not registry-1.docker.io"
Sep 12 19:14:38 kali dockerd[12537]: time="2024-09-12T19:14:38.338167056+05:30" level=info msg="Attempting next endpoint for pull after error: Get \"https://registry-1.docker.io/v2/\": tls: failed to verify certificate: x509: certificate is valid for prod.suntecktts.com, *.prod.suntecktts.com, *.suntecktts.com, suntecktts.com, not registry-1.docker.io"
Sep 12 19:14:38 kali dockerd[12537]